[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
